/* =============== FONTS =============== */
@font-face {
    font-family: 'Myriad Web Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Web Pro'), url('../fonts/Myriad\ Web\ Pro.woff') format('woff');
}

@font-face {
    font-family: 'MyriadWebPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-Bold'), url('../fonts/MyriadWebPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'MyriadWebPro-CondensedItalic';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-CondensedItalic'), url('../fonts/MyriadWebPro-CondensedItalic.woff') format('woff');
}

/* =============== VARIABLES CSS =============== */
:root {
    /* =============== LIGHT MODE =============== */
    --white: white;
    --black: black;

    --first-color: hsl(253, 100%, 62%);
    --first-color-alt: hsl(253, 69%, 28%);

    --secound-color: hsl(219, 100%, 50%);
    --secound-color-alt: hsl(219, 100%, 33%);

    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-alt: hsl(0, 0%, 15%);

    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);

    --border-color: .1rem solid rgba(221, 221, 221, 0.3);

    /* ========== Font and typography ========== */
    --normal-font: 'Myriad Web Pro', sans-serif;
    --bold-font: 'MyriadWebPro-Bold', sans-serif;
    --italic-font: 'MyriadWebPro-CondensedItalic', sans-serif;

    --biggest-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.25rem;
    --small-font-size: 1;
    --smaller-font-size: .938rem;
    --tiny-font-size: .813rem;

    /* ========== Font weight ========== .75rem*/
    /* --font-medium: 500;
    --font-bold: 600; */
}

/* =============== BASE =============== */
*:not([class*="burger"]) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* =============== DARK MODE =============== */
html.dark__mode {
    --first-color: hsl(253, 65%, 52%);
    --first-color-alt: hsl(253, 69%, 28%);

    --secound-color: hsl(219, 100%, 50%);
    --secound-color-alt: hsl(219, 100%, 33%);

    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 100%);
    --text-color-alt: hsl(0, 0%, 56%);

    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 0%);

    --border-color: .1rem solid rgba(95, 95, 95, 0.3);
}

/* =============== HTML AND SCROLLBAR =============== */
html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 5rem;
}

html.dark__mode::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 5rem;
}

/* =============== BASE BODY =============== */
body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-family: var(--bold-font);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--first-color);
    transition: all 0.3s;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    /* gap: 1.25rem; */
}

.section {
    /* padding: 4.5rem 0 1rem; */
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/* =============== HEADER AND NAVBAR =============== */
.header {
    background: transparent;
    height: 60px;
    position: fixed;
    border-bottom: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header__scroll {
    background-color: var(--body-color);
    height: 60px;
    position: fixed;
    border-bottom: var(--border-color);
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    height: 60px;
    position: fixed;
    border-bottom: transparent;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.nav__logo {
    width: 15rem;
    z-index: 9999;
}

.nav__logo a {
    font-size: var(--biggest-font-size);
    font-family: var(--bold-font);
    color: var(--title-color);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    margin: inline-block;
}

.navbar ul li a {
    position: relative;
    margin: 0 1.25rem;
    font-size: 1.8rem;
    color: var(--text-color);
    /* text-transform: uppercase; */
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--first-color);
}

.navbar ul li a:hover {
    color: var(--first-color);
    transition: all 0.6s;
}

@media (hover: hover) and (pointer: fine) {
    .header .navbar ul li a:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* .easter__egg {
    height: 0px;
    width: 0px;
} */

/* =============== DARKMODE MECHANICS =============== */
.btns__1 {
    display: none;
}

.btns__2 {
    width: 15rem;
    direction: rtl;
}

.switch {
    position: relative;
    display: flex;
    width: 4rem;
    height: 2.26rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--first-color);
    border-radius: 2.26rem;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 1.73rem;
    width: 1.73rem;
    left: .26rem;
    bottom: .26rem;
    background: var(--first-color-alt);
    border-radius: 50%;
    transition: .4s;
}

input:checked+.slider {
    background: var(--first-color);
}

input:checked+.slider:before {
    transform: translateX(1.73rem);
}

/* =============== HAMBURGER =============== */
.burger {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    z-index: 9999;
}

#burger-svg {
    width: 100%;
    height: 100%;
}

.burger-svg__bars {
    fill: var(--text-color);
}

.burger-svg__bars.active {
    fill: var(--text-color-alt);
}

.burger:hover {
    cursor: pointer;
}

.no__scroll {
    overflow: hidden;
}

.no__scroll::-webkit-scrollbar {
    display: none;
}


/* =============== MAIN =============== */
.main {
    /* overflow-x: hidden; */
}

/* =============== HOME =============== */
.home {
    height: 100%;
    min-width: 100vw;
    background: url(../img/lol4.jpg) no-repeat;
    background-color: rgba(0, 0, 0, 0.16);
    background-size: cover;
    background-position: center;
}

.home__container {
    display: relative;
    padding: 15rem 12rem;
}

.home__data {}

.home__data h1 {
    font-size: 8rem;
}

.home__data p {
    font-size: 3rem;
}


.home__greeting {}

.home__name {}

.home__job {}

/* =============== ABUUT =============== */
.about {
    /* overflow-x: hidden; */
}

/* =============== PORTFOLIO =============== */
.portfolio {
    /* overflow-x: hidden; */
}

/* =============== BLOG =============== */
.blog {
    /* overflow-x: hidden; */
}

/* =============== CONTACT =============== */
.contact {
    /* overflow-x: hidden; */
}

/* =============== FOOTER =============== */
.footer {
    /* overflow-x: hidden; */
}



/* =============== BREAKPOINTS =============== */

/* @media screen and (min-width: 1200px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 767px) {}

@media screen and (min-width: 576px) {}

@media screen and (max-width: 320px) {} */




@media screen and (max-width: 992px) {
    html {
        font-size: 55%;
    }

    .nav {
        padding: 0 2rem 0 2.2rem;
    }

    .navbar {
        border-radius: 5rem;
    }

    .nav__logo {
        padding: 0 2rem;
    }

    .btns__2 {
        padding: 0 2rem;
    }

    /* section {
        padding: 2rem;
    } */

    .home__container {
        display: relative;
        padding: 15rem 10rem;
    }


}

@media screen and (max-width: 768px) {
    /* .header {
        transition: .6s;
    } */

    .nav__logo {
        padding: 0;
    }

    .navbar::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        position: absolute;
        border-radius: 0;
        top: -100vh;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 9rem 2rem 0 3.5rem;
        background-color: var(--body-color);
        overflow: auto;
        float: left;
        transition: .6s;
    }

    .navbar.active {
        top: 0;
        border-radius: 0;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li a {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: var(--biggest-font-size);
    }

    .btns__1 {
        display: inline-block;
        padding: 2rem 2rem 0 2rem;
        margin-bottom: 8rem;
    }

    .btns__2 {
        display: none;
    }

    .switch {
        width: 5rem;
        height: 2.825rem;
    }

    .slider {
        border-radius: 2.825;
        transition: .4s;
    }

    .slider:before {
        height: 2.1625rem;
        width: 2.1625rem;
        left: .325rem;
        bottom: .325rem;
    }

    input:checked+.slider {
        background: var(--first-color);
    }

    input:checked+.slider:before {
        transform: translateX(2.1625rem);
    }

    .burger {
        display: inline-block;
    }

    .home__container {
        display: relative;
        padding: 15rem 5rem;
    }

    .home__data h1 {
        font-size: 7rem;
    }

    .home__data p {
        font-size: 2.5rem;
    }


    /* .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    } */

}

@media screen and (max-width: 576px) {
    .home__container {
        display: relative;
        padding: 15rem 3rem;
    }

    .home__data h1 {
        font-size: 5rem;
    }

    .home__data p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 360px) {
    .home__container {
        display: relative;
        padding: 15rem 2.2rem;
    }

    .home__data h1 {
        font-size: 4rem;
    }

    .home__data p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 300px) {
    .home__data h1 {
        font-size: 2.7rem;
    }

    .home__data p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 210px) {
    .nav {
        padding: 0 0 0 0.5rem;
    }

    .home__container {
        display: relative;
        padding: 15rem 0.5rem;
    }

    .home__data h1 {
        font-size: 2rem;
    }
    .home__data p {
        font-size: .813rem;
    }
}
