/* =============== FONTS =============== */
@font-face {
    font-family: 'Myriad Web Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Web Pro'), url('../fonts/Myriad\ Web\ Pro.woff') format('woff');
}

@font-face {
    font-family: 'MyriadWebPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-Bold'), url('../fonts/MyriadWebPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'MyriadWebPro-CondensedItalic';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-CondensedItalic'), url('../fonts/MyriadWebPro-CondensedItalic.woff') format('woff');
}

/* =============== VARIABLES CSS =============== */
:root {
    /* =============== LIGHT MODE =============== */
    --first-color: hsl(253, 100%, 62%);
    --first-color-alt: hsl(253, 69%, 28%);

    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-alt: hsl(0, 0%, 15%);

    --body-color: hsl(0, 0%, 100%);

    --border-color: rgba(0, 0, 0, 0.1);

    /* ========== Font and typography ========== */
    --normal-font: 'Myriad Web Pro', sans-serif;
    --bold-font: 'MyriadWebPro-Bold', sans-serif;
    --italic-font: 'MyriadWebPro-CondensedItalic', sans-serif;

    --biggest-font-size: 8rem;
    --bigger-font-size: 7rem;
    --big-font-size: 6rem;
    --medium-font-size: 5rem;
    --medium-smaller-font-size: 4rem;

    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.75rem;
    --h5-font-size: 1.5rem;
    --h6-font-size: 1.25rem;
    --normal-font-size: 1.25rem;
    --small-font-size: 1rem;
    --smaller-font-size: .938rem;

    --containter-width: 120rem;
    --containter-padding: 1.5rem;
    --section-vertical-spacing: 8rem;

    /* ========== Font weight ========== .75rem*/
    /* --font-medium: 500;
    --font-bold: 600; */
}

/* =============== BASE =============== */
*:not([class*="burger"]),
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

html {
    /* 10px */
    font-size: 62.5%;
}

/* =============== BASE BODY =============== */
body {
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
    text-transform: capitalize;
    overflow-x: hidden;
}

/* =============== DARK MODE =============== */
body.dark__mode {
    --first-color: hsl(253, 65%, 52%);
    --first-color-alt: hsl(253, 69%, 28%);

    --secound-color: hsl(219, 100%, 50%);
    --secound-color-alt: hsl(219, 100%, 33%);

    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 100%);
    --text-color-alt: hsl(0, 0%, 56%);

    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 0%);

    --border-color: rgba(255, 255, 255, 0.06);
}

/* =============== SCROLLBAR =============== */
body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 5rem;
}

/* =============== BASE =============== */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-family: var(--bold-font);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

a {
    text-decoration: none;
    color: var(--first-color);
    /* color: inherit; */
    /* transition: all 0.3s; */
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    /*  */
    cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: var(--containter-width);
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.section {
    margin-bottom: 2rem;
}

.section__title,
.section__subtitle {
    /* text-align: center; */
}

.section__title {
    /* font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem; */
}

.section__subtitle {
    /* display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light); */
}

/* =============== HEADER AND NAVBAR =============== */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background: transparent;
    z-index: 9999;
}

.header__scroll {
    background-color: var(--body-color);
    /* background: rgba(0, 0, 0, 0.1); */

    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */

    box-shadow: 0 4px 30px var(--border-color);
    /* border-bottom: var(--border-color); */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    padding: 2rem 4rem;
}

.nav__logo {
    width: 15rem;
    z-index: 9999;
}

.nav__logo a {
    font-size: var(--h1-font-size);
    font-family: var(--bold-font);
    color: var(--title-color);
}

.navbar .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar .nav__list .nav__item {
    margin: 0 1.25rem;
}

.navbar .nav__list .nav__item .nav__link {
    position: relative;
    font-size: var(--h3-font-size);
    color: var(--text-color);
    /* text-transform: uppercase; */
}

.navbar .nav__list .nav__item .nav__link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--first-color);
}

.navbar .nav__list .nav__item .nav__link:hover {
    color: var(--first-color);
    transition: all 0.6s;
}

@media (hover: hover) and (pointer: fine) {
    .header .navbar .nav__list .nav__item .nav__link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* .easter__egg {
    height: 0px;
    width: 0px;
} */

/* =============== DARKMODE MECHANICS =============== */
.btns__1 {
    display: none;
}

.btns__2 {
    width: 15rem;
    direction: rtl;
}

.switch {
    position: relative;
    display: flex;
    width: 4rem;
    height: 2.26rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--first-color);
    border-radius: 2.26rem;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 1.73rem;
    width: 1.73rem;
    left: .26rem;
    bottom: .26rem;
    background: var(--first-color-alt);
    border-radius: 50%;
    transition: .4s;
}

input:checked+.slider {
    background: var(--first-color);
}

input:checked+.slider:before {
    transform: translateX(1.73rem);
}

/* =============== HAMBURGER =============== */
.burger {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    z-index: 9999;
}

#burger-svg {
    width: 100%;
    height: 100%;
}

.burger-svg__bars {
    fill: var(--text-color);
}

.burger-svg__bars.active {
    fill: var(--text-color-alt);
}

.burger:hover {
    cursor: pointer;
}

.no__scroll {
    overflow: hidden;
}

.no__scroll::-webkit-scrollbar {
    display: none;
}


/* =============== MAIN =============== */
.main {
    /*  */
}

/* =============== HOME =============== */
.home {
    background: url(../img/lol4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home__container {
    padding: 15rem 4rem;

}

.home__title {
    font-size: var(--biggest-font-size);
}

.home__title .blast {
    text-transform: none !important;
}

.home__subtitle {
    padding-top: 1rem;
    font-size: var(--h1-font-size);
}

/* =============== ABUUT =============== */
.about {
    /* overflow-x: hidden; */
}

/* =============== PORTFOLIO =============== */
.portfolio {
    /* overflow-x: hidden; */
}

/* =============== BLOG =============== */
.blog {
    /* overflow-x: hidden; */
}

/* =============== CONTACT =============== */
.contact {
    /* overflow-x: hidden; */
}

/* =============== FOOTER =============== */
.footer {
    /* overflow-x: hidden; */
}



/* =============== BREAKPOINTS =============== */

/* @media screen and (min-width: 1200px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 767px) {}

@media screen and (min-width: 576px) {}

@media screen and (max-width: 320px) {} */




@media only screen and (max-width: 992px) {
    /* :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.75rem;
        --h4-font-size: 1.5rem;
        --h5-font-size: 1.25rem;
        --h6-font-size: 1rem;
        --normal-font-size: 1rem;
        --small-font-size: .938rem;
        --smaller-font-size: .813rem;
    } */

    html {
        /* 8.8px */
        font-size: 55%;
    }

    .navbar {
        border-radius: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 0 2rem;
    }

    .navbar::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        position: absolute;
        top: -100vh;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 9rem 2rem 0 3.5rem;
        border-radius: 0;
        background-color: var(--body-color);
        overflow: auto;
        float: left;
        transition: .6s;
    }

    .navbar.active {
        top: 0;
        border-radius: 0;
    }

    .navbar .nav__list {
        flex-direction: column;
    }

    .navbar .nav__list .nav__item .nav__link {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: var(--h1-font-size);
    }

    .btns__1 {
        display: inline-block;
        padding: 2rem 2rem 0 2rem;
        margin-bottom: 8rem;
    }

    .btns__2 {
        display: none;
    }

    .switch {
        width: 5rem;
        height: 2.825rem;
    }

    .slider {
        border-radius: 2.825;
    }

    .slider:before {
        height: 2.1625rem;
        width: 2.1625rem;
        left: .325rem;
        bottom: .325rem;
    }

    input:checked+.slider {
        background: var(--first-color);
    }

    input:checked+.slider:before {
        transform: translateX(2.1625rem);
    }

    .burger {
        display: inline-block;
    }

    .home__container {
        padding: 15rem 2rem;
    }

    .home__title {
        font-size: var(--bigger-font-size);
    }

    .home__subtitle {
        font-size: var(--h2-font-size);
    }
}

@media only screen and (max-width: 576px) {
    .home__title {
        font-size: var(--big-font-size);
    }

    .home__subtitle {
        font-size: var(--h3-font-size);
    }
}

@media screen and (max-width: 460px) {
    .home__title {
        font-size: var(--medium-font-size);
    }

    .home__subtitle {
        padding-top: .5rem;
        font-size: var(--h4-font-size);
    }
}


@media screen and (max-width: 360px) {
    .home__title {
        font-size: var(--medium-smaller-font-size);
    }

    .home__subtitle {
        font-size: var(--h5-font-size);
    }
}

@media only screen and (max-width: 300px) {
    .home__title {
        font-size: var(--h1-font-size);
    }

    .home__subtitle {
        font-size: var(--h6-font-size);
    }
}

@media only screen and (max-width: 220px) {
    .nav {
        padding: 0 0 0 1rem;
    }

    .home__container {
        display: relative;
        padding: 15rem 1rem;
    }

    .home__title {
        font-size: var(--h2-font-size);
    }

    .home__subtitle {
        font-size: var(--small-font-size);
        padding: 0;
    }
}